html, body {
  margin: 1rem;
  padding: 0;
  background: black;
  color: #fff;
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  max-width: 800px;
}

* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
main > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main > div .tile {
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-gap {
  gap: 1rem;
}

.tile {
  --size: 100px;
  --color: #91b2bd;
  --title-height: calc(0.2 * var(--size));
  --offset-top: calc(0.5 * var(--title-height));
  min-width: var(--size);
  width: min-content;
  height: var(--size);
  margin: var(--offset-top);
  -padding-top: var(--offset-top);
  border: 2px solid var(--color);
  border-radius: var(--offset-top);
  box-shadow: 0px 0px 5px 0px var(--color);
  line-height: calc(var(--size) - 0 * var(--offset-top));
  text-align: center;
  position: relative;
  transition: border-color 0.26s linear, box-shadow 0.26s linear;
}

.tile .title {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-52%);
  padding: 0 0.33em;
  background: black;
  box-shadow: 0px 0px 5px 0px black;
  line-height: normal;
  white-space: nowrap;
  font-size: var(--title-height);
  border: 0px solid currentcolor;
  border-radius: calc(0.5 * var(--offset-top));
}
.tile .value {
  display: inline-block;
  padding: var(--offset-top);
  vertical-align: middle;
  line-height: 90%;
  font-size: calc(0.3 * var(--size));
  white-space: pre-wrap;
}
.tile > .swipe {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.tile > .swipe::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.tile > .swipe::before {
  position: absolute;
  left: 0;
  color: var(--color);
  content: '<';
  padding: 0 1rem;
  opacity: 0.7;
  text-shadow: 0 0 0px var(--color);
}
.tile > .swipe::after {
  position: absolute;
  right: 0;
  color: var(--color);
  content: '>';
  padding: 0 1rem;
  opacity: 0.7;
  text-shadow: 0 0 0px var(--color);
}
.tile > .swipe > * {
  min-width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.tile > .swipe .value {
  padding: var(--offset-top) 2rem;
}
.tile .detail {
  display: none;
  padding: 1rem;
  border-image: linear-gradient(to right,
    transparent, var(--color), var(--color), var(--color), transparent
  ) 10;
  border-width: 1px;
  border-top-style: solid;
}
.tile.expand {
  width: 100%;
  height: auto;
}
.tile.expand .detail {
  display: flex;
  line-height: normal;
  text-align: left;
  overflow: auto;
}

.good {
  --color: #75ff98;
}
.ok {
  --color: #55CCFF;
}
.warn {
  --color: #ffc147;
}
.bad {
  --color: #ff3a57;
}
.unknown {
  --color: #91b2bd;
}
.dark {
  background-color: #000;
  color: white;
  border: 1px solid transparent;
  font-size: 120%;
  padding: 0.5rem;

  border-image: linear-gradient(to right,
   transparent, var(--color), transparent
  ) 10;
  border-width: 1px;
  border-top-style: solid;
}
textarea.wide {
  width: 100%;
  resize: vertical;
  height: auto;
  min-height: 5rem;
}
